<head>
    <title>Đăng Ký Tổ Hợp | Trang Chủ</title>
     <link rel="stylesheet" href="/css/home.css">
     <link rel="stylesheet" href="/css/close.css">
</head>

<div class="mt-70">
  <div class="school-info d-flex">
      <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963405/school_banner_second_nbdpyd.png">
      
      <div class="banner-container">
        <img class="school-banner-second rounded-end" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
          <div class="school-info-detail fs-6">
            <p><b>Tên Trường:</b> {{schoolInfo.name}}</p>
            <p><b>Ngày Thành Lập:</b> {{schoolInfo.establishedDate}}</p>
            <p><b>Địa Chỉ:</b> {{schoolInfo.address}}</p>
            <p><b>Mô Tả:</b> {{schoolInfo.shortDescription}}</p>
          </div>
        </div>
  </div>

  <div class="combination-list">
    {{#if (eq role "manager")}}
      <a class="d-flex justify-content-end mb-2" href="/combination/submited-list">Xem danh sách tổ hợp đã được đăng ký</a>
    {{/if}}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Tổ hợp</th>
          <th scope="col" colspan="4">Môn lựa chọn (04 môn)</th>
          <th scope="col" colspan="3">Cụm chuyên đề (03 môn)</th>
          <th scope="col">Số lớp</th>
          <th scope="col">Số lượng học sinh</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each combinations}}
          <tr>
            <td scope="row">{{this.name}}</td>
            {{#each this.optionalSubjects}}
              <td>{{this}}</td>
            {{/each}}
            {{#each this.compulsorySubjects}}
              <td>{{this}}</td>
            {{/each}}
            <td>{{this.classesCount}}</td>
            <td>{{this.classesCapacity}}</td>
            <td>
              <a href="/combination/{{this.id}}">Xem Chi Tiết</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
