<head>
    <title>Đăng Ký Tổ Hợp | Danh Sách Đã Đăng Ký</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/submitedList.css">
    <link rel="stylesheet" href="/css/combination.css">
</head>

<div id="master" class="col .col-md-9 p-0">
    <div class="school-info d-flex">
        <img class="school-banner" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963405/school_banner_second_nbdpyd.png">
        <div class="banner-container">
            <img class="school-banner-second" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
            <div class="school-info-detail fs-5">
                <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
            </div>
        </div>
    </div>
    <div class="card-body" style="display: none;">
        <div class="container-submited-list">
            <div class="d-flex justify-content-between me-3">
                <h3 class="text-center m-0">Danh Sách Đã Đăng Ký</h3>
                <a href="/file/excel/submited-list" class="btn btn-info justify-content-end">Xuất file Excel</a>
            </div>
            <div class="mx-4">
                <div class="filter-box my-3">
                    <div class="d-flex align-items-center border border-black" style="width:30pc;">
                        <i class="fa-solid fa-magnifying-glass mx-2"></i>
                        <input class="ps-0" type="text" name="fullName" style="border: none;outline:none;" placeholder="Tìm kiếm theo tên...">
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="mb-0 me-3"><b>Giới tính :</b></p>
                    <div class="radios-gender gap-3">
                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="gender" value="all" checked>
                            <label class="form-check-label">
                                Tất cả
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="gender" value="male">
                            <label class="form-check-label">
                                Nam
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="gender" value="famale">
                            <label class="form-check-label">
                                Nữ
                            </label>
                        </div>
                    </div>

                    <div class="dash-height mx-3"></div>

                    <p class="mb-0 me-3"><b>Nguyện vọng 1:</b></p>
                    <div class="radios-combination gap-3">
                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination1" value="all" checked>
                            <label class="form-check-label">
                                Tất cả
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination1" value="1">
                            <label class="form-check-label">
                                1
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination1" value="2">
                            <label class="form-check-label">
                                2
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination1" value="3">
                            <label class="form-check-label">
                                3
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination1" value="4">
                            <label class="form-check-label">
                                4
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination1" value="5">
                            <label class="form-check-label">
                                5
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="combination1" value="6">
                            <label class="form-check-label">
                                6
                            </label>
                        </div>
                    </div>

                    <div class="dash-height mx-3"></div>
                    <p class="mb-0 me-3"><b>Nguyện vọng 2:</b></p>
                    <div class="radios-gender gap-3">
                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination2" value="all" checked>
                            <label class="form-check-label">
                                Tất cả
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination2" value="1">
                            <label class="form-check-label">
                                1
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination2" value="2">
                            <label class="form-check-label">
                                2
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination2" value="3">
                            <label class="form-check-label">
                                3
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination2" value="4">
                            <label class="form-check-label">
                                4
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-2">
                            <input class="form-check-input" type="radio" name="combination2" value="5">
                            <label class="form-check-label">
                                5
                            </label>
                        </div>

                        <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="combination2" value="6">
                            <label class="form-check-label">
                                6
                            </label>
                        </div>
                    </div>
                </div>
               <div class="d-flex">
                    <div class="row" style="width: 100%;justify-content: center;">
                        <div class="col-9 row" style="margin-left: 10px;">
                            {{#each submitedList}}
                                <div class="card mb-3 m-2" style="width: 17.8pc;font-size: 12px;height: 14pc;">
                                    <div class="row g-0" style="position: relative;">
                                        <div class="col-md-4 p-0 text-center d-flex align-items-center flex-column">
                                            <img src="{{this.avatarLink}}" class="img-fluid rounded-end border border-dark-subtle" alt="{{this.fullName}}" style="margin-left: 5px;">
                                            <a href="submited-detail/{{this.userId}}" class="btn btn-primary mt-2" style="width: 86px;font-size: 12px;margin-left: 7px;">Xem thông tin</a>
                                        </div>
                                        <div class="col-md-8 ps-0">
                                            <div class="card-body pe-0">
                                                <h5 class="card-title">{{this.fullName}}</h5>
                                                <div class="d-flex justify-content-between" style="font-size: 10px;">
                                                    <div class="d-flex align-items-start flex-column">
                                                        <p class="pe-1 m-0" style="width: max-content;"><b>Giới tính:</b></p>
                                                        <p class="m-0 pe-0" >{{this.gender}}</p>
                                                    </div>
                                                    <div class="d-flex align-items-start flex-column mx-2">
                                                        <p class="m-0" style="width: max-content;"><b>Ngày sinh:</b></p>
                                                        <p class="m-0">{{this.dateOfBirth}}</p>
                                                    </div>
                                                    <div class="d-flex align-items-start flex-column">
                                                        <p class="m-0" style="width: max-content;"><b>Dân tộc:</b></p>
                                                        <p class="m-0">{{this.nation}}</p>
                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-start flex-column">
                                                    <p class="pe-1 m-0"><b>Nguyện vọng 1:</b></p>
                                                    <p class="m-0 pe-0" >{{this.combination1}}</p>
                                                </div>

                                                <div class="d-flex align-items-start flex-column">
                                                    <p class="pe-1 m-0"><b>Nguyện vọng 2:</b></p>
                                                    <p class="m-0 pe-0" >{{this.combination2}}</p>
                                                </div>
                                                
                                                <div class="d-flex align-items-start flex-column">
                                                    <p class="card-text mb-0"><small class="text-body-secondary">Đăng ký lúc:</small></p>
                                                    <p class="card-text"><small class="text-body-secondary"><b>{{this.registeredAt}}</b></small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="col-2">
                            <div class="sort-box">
                                <div id="sort-title">
                                    <p class="m-0">
                                        Sắp xếp theo <i class="fa-solid fa-chevron-down" id="sort-icon-title" style="font-size: 13px;"></i>
                                    </p>
                                </div>
                                <div id="sort-content">
                                    <ul class="list-sort p-0">
                                        <li class="ps-4">Họ và tên 
                                        </li>
                                        <li class="active sub-li-type">
                                            <ul>
                                                <li class="p-2 type-sort">Tăng dần <i class="ms-2 fa-solid fa-check"></i></li>
                                                <li class="p-2 type-sort">Giảm dần <i></i></li>
                                            </ul>
                                        </li>
                                        <li class="ps-4">Ngày đăng ký 
                                        </li>
                                        <li class="active sub-li-type">
                                            <ul>
                                                <li class="p-2 type-sort">Tăng dần <i></i></li>
                                                <li class="p-2 type-sort">Giảm dần <i></i></li>
                                            </ul>
                                        </li>
                                        <li class="ps-4" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">Điểm đầu vào
                                        </li>
                                        <li class="active sub-li-type">
                                            <ul>
                                                <li class="p-2 type-sort">Tăng dần <i></i></li>
                                                <li class="p-2 type-sort">Giảm dần <i></i></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>

<div id="loading-full" class="position-fixed" style="display: flex;">
    <div class="d-flex align-items-center flex-column">
        <h2 style="font-family: 'Lexend', sans-serif;color:#29a9ef;">Đang tải dữ liệu...</h2>
        <div class="spinner-border mt-4" style="width: 3rem; height: 3rem;color:#29a9ef;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<script>
    var sideBar = document.getElementById('sidebar');
    const master = document.getElementById('master');
    window.addEventListener('load', function () {
        document.getElementById('loading-full').style.display = 'none';
        document.querySelector('.card-body').style.display = 'block';
        sideBar.parentElement.style.height = master.clientHeight;
    });

    const litSidebars = Array.from(document.querySelectorAll('#sidebar .box'));
    litSidebars.pop();

    litSidebars.forEach((li) => {
        if(li.getAttribute('value') === 'Danh sách đăng ký') {
            li.parentElement.classList.add('active');
        } else {
            li.parentElement.classList.remove('active');
        }
        li.parentElement.onclick = () => {
        li.parentElement.classList.add('active')
        litSidebars.forEach((liCheckClassActive) => {
            if(liCheckClassActive !== li) {
            liCheckClassActive.parentElement.classList.remove('active');
            }
        })
        }
    })

    const sortTitle = document.getElementById('sort-title');
    const sortContent = document.getElementById('sort-content');
    const iconSortTitle = document.getElementById('sort-icon-title');
    const tagLisSort = sortContent.querySelectorAll('li:not(.type-sort)');
    const typeSortI = Array.from(sortContent.querySelectorAll('.type-sort i'));

    Array.from(tagLisSort).forEach((li, index) => {
        li.onclick = () => {
            if (Array.from(tagLisSort)[index + 1]?.className.includes('sub-li-type')) {
                Array.from(tagLisSort)[index + 1].classList.toggle('active');
            }
        }
    })

    sortTitle.onclick = () => {
        sortContent.classList.toggle('active');
        if(sortContent.className.includes('active')) {
            iconSortTitle.className = "fa-solid fa-chevron-up";
        } else {
            iconSortTitle.className = "fa-solid fa-chevron-down";
        }
    }

</script>