<head>
    <title>Đăng Ký Tổ Hợp | Chọn tổ hơp lớp 10 Vào Trường THPT Duy Tân</title>
    <link rel="stylesheet" href="/css/school.css">
    <link rel="stylesheet" href="/css/combination.css">
    <link rel="stylesheet" href="/css/close.css">
    <link rel="stylesheet" href="/css/bar_step.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
</head>


<div id="master">
    <div class="container">
        <div class="card mb-3 shadow">
            <div class="school-info d-flex">
                <img class="school-banner rounded-start" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963405/school_banner_second_nbdpyd.png">
                
                <div class="banner-container rounded-end">
                    <img class="school-banner-second rounded-end" src="https://res.cloudinary.com/dwoymvppw/image/upload/v1743963404/school_banner_first_ezzd1f.png">
                    <div class="school-info-detail fs-5">
                        <img src="https://i.postimg.cc/fyNszfCN/bannertrencung.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="step-container">
                    <div class="progress_bar">
                        <ul class="progress_bar-steps">
                            <li class="progress_bar-progress"></li>
                            <li class="progress_bar-step active">
                                <span>1</span>
                                <div class="step-label">
                                    <p>Đọc thông tin về việc chọn tổ hợp</p>
                                </div>
                            </li>
                            <li class="progress_bar-step">
                                <span>2</span>
                                <div class="step-label">
                                    <p>Nhập thông tin đăng ký</p>
                                </div>
                            </li>
                            <li class="progress_bar-step">
                                <span>3</span>
                                <div class="step-label">
                                    <p>Chọn tổ hợp</p>
                                </div>
                            </li>
                            <li class="progress_bar-step">
                                <span>4</span>
                                <div class="step-label">
                                    <p>Xác nhận</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d-flex justify-content-end my-4">
                    <button type="button" class="btn btn-primary ms-4" id="btnPrevStep" style="display: none;">
                        Trở lại
                    </button>
                    <button type="button" class="btn btn-primary ms-auto me-4" id="btnNextStep" data-bs-toggle="modal" data-bs-target="#exampleModalLive" disabled>
                        Tiếp tục
                    </button>
                    <button type="button" class="btn btn-primary ms-auto me-4" id="btnSubmit" data-bs-toggle="modal" data-bs-target="#exampleModalLive" style="display: none;">
                        Xác nhận
                    </button>
                </div>

                <div class="card border-dark my-3 box-submit-1" style="display: block;" >
                    <div class="card-header">Thông tin chung về đăng ký nguyện vọng vào lớp 10</div>
                    <div class="card-body">
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Đối tượng đăng ký</p>
                            <ul>
                                <li>Học sinh lớp 9 chuẩn bị lên lớp 10 tại [Tên tỉnh/thành phố]. 🚩</li>
                                <li>Học sinh đang học tại các trường THCS công lập, ngoài công lập hoặc tương đương. 🏤</li>
                            </ul>
                        </div>
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Thời gian đăng ký</p>
                            <ul>
                                <li>Thời gian bắt đầu: [Ngày/Tháng/Năm] 📅</li>
                                <li>Thời gian kết thúc: [Ngày/Tháng/Năm] 📅</li>
                                <li>Lưu ý: Không đăng ký sau thời gian quy định. ❌</li>
                            </ul>
                        </div>
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Cách thức đăng ký</p>
                            <ul>
                                <li>Đăng ký trực tuyến trên website này. ✅</li>
                                <li>Cần có mã định danh cá nhân hoặc thông tin đăng nhập được trường cấp. 🔗</li>
                                <li>Chọn hai nguyện vọng theo thứ tự ưu tiên. ❗</li>
                            </ul>
                        </div>
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Tổ hợp môn xét tuyển</p>
                            <ul>
                                <li>Mỗi trường có thể có tổ hợp môn riêng (Toán - Văn - Anh, Toán - Lý - Hóa, v.v...) ✅</li>
                                <li>Cần tìm hiểu kỹ trước khi chọn nguyện vọng. ✅</li>
                            </ul>
                        </div>
                        <div class="content-box">
                            <p class="fw-bolder mb-2">Lưu ý khi đăng ký</p>
                            <ul>
                                <li>Không thể chọn 2 nguyện vọng giống nhau. ❌</li>
                                <li>Ưu tiên nguyện vọng 1 nếu có điểm chuẩn bằng nhau. ❗</li>
                                <li>Có thể chỉnh sửa trong thời gian đăng ký, nhưng nên kiểm tra kỹ trước khi lưu. ✅</li>
                            </ul>
                        </div>
                        <div class="my-2 d-flex justify-content-center">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkReaded">
                                <label class="form-check-label" for="exampleCheck1"><i>Tôi đã đọc và đồng ý với các lưu ý trên</i></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container box-submit-2" style="display: none;">
                    <legend class="text-center mb-4">Phiếu đăng ký thông tin vào lớp 10 - Trường THPT Duy Tân</legend>

                    <div class="col col-md-4 mb-3 d-flex align-items-start flex-column ps-0">
                        <label for=""><b>Chọn ảnh thẻ:</b></label>
                        <div class="row mb-3">
                            <div class="d-flex align-items-start flex-column">
                                <div class="imgBoderFake"><p>3x4</p></div>
                                <img id="resultImage" class="col col-md-2 ps-0" style="max-width:200px; display:none;">
                                    <input type="file" class="mt-3" id="inputImage" accept="image/*">
                                    <button id="recropBtn" class="mt-4 btn btn-primary" type="button" style="display:none;">Cắt lại</button>
                            </div>
                            <input id="input-get-data" type="text" name="avatarLink" style="display: none;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <div class="d-flex align-items-start flex-column">
                                <label for="inputName"><b>Họ và tên học sinh:</b></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                    <input id="inputName" type="text" class="form-control" value="{{user.fullName}}" placeholder="Họ và tên học sinh" aria-label="Họ và tên học sinh" name="fullName" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex align-items-start flex-column">
                            <label for="inputName"><b>Giới tính:</b></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-venus-mars"></i></span>
                                <select class="form-select" id="inputGroupSelect01" name="gender" aria-label="Default select example">
                                    <option selected value="">--Giới tính--</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                        </div>

                        <div class="col d-flex align-items-start flex-column">
                            <label for="inputGroupSelect01"><b>Dân tộc:</b></label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-person"></i></span>
                                <select class="form-select" id="inputGroupSelect01" name="nation" aria-label="Default select example">
                                    <option selected value="">--Dân tộc--</option>
                                    {{#each nations}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col d-flex align-items-start flex-column">
                            <label for="inputName"><b>Ngày tháng năm sinh:</b></label>
                            <div class=" input-group form-group-datepicker mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar-days"></i></span>
                                <input type="text" class="form-control" id="datepicker" class="login__input" name="dateOfBirth" rules="required" aria-describedby="basic-addon1" placeholder="Ngày tháng năm sinh">
                                <span class="form-message"></span>
                            </div>
                        </div>

                        <div class="col">
                                    <label for="inputName"><b>Nơi sinh:</b></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
                                    <input type="text" class="form-control" placeholder="Nơi sinh" name="placeOfBirth" aria-label="Nơi sinh" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>
                        
                        <div class="row">
                            <div class="col">
                                    <label for="inputName"><b>Nơi ở hiện tại:</b></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-house"></i></span>
                                    <input type="text" class="form-control" placeholder="Nơi ở hiện tại" name="presentPlace" aria-label="Nơi ở hiện tại" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                    <label for="inputName"><b>Trường học cấp 2:</b></label>
                                <b>{{user.secondarySchoolName}}</b>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <div class="d-flex align-items-start flex-column">
                                    <label for="inputName"><b>Họ và tên cha:</b></label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                        <input id="inputName" type="text" class="form-control" placeholder="Họ và tên cha" aria-label="Họ và tên học sinh" name="fullNameDad" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                    </div>
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                <label for="inputName"><b>Nghề nghiệp:</b></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-suitcase"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Nghề nghiệp" aria-label="Họ và tên học sinh" name="jobOfDad" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                <label for="inputGroupSelect01"><b>Số điện thoại:</b></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Số điện thoại" aria-label="Họ và Tên học sinh" name="phoneNumberDad" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <div class="d-flex align-items-start flex-column">
                                    <label for="inputName"><b>Họ và tên mẹ:</b></label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                        <input id="inputName" type="text" class="form-control" placeholder="Họ và tên mẹ" aria-label="Họ và tên học sinh" name="fullNameDad" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                    </div>
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                <label for="inputName"><b>Nghề nghiệp:</b></label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-suitcase"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Nghề nghiệp" aria-label="Họ và Tên học sinh" name="jobOfMon" aria-describedby="basic-addon1" style="text-transform: capitalize;">
                                </div>
                            </div>

                            <div class="col d-flex align-items-start flex-column">
                                <label for="inputGroupSelect01"><b>Số điện thoại:</b></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                                    <input id="inputName" type="text" class="form-control" placeholder="Số điện thoại" aria-label="Họ và Tên học sinh" name="phoneNumberMom" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row gap-0 column-gap-4">
                            <label for="inputName"><b>Điểm thi xết tuyển Trung học phổ thông năm học 2025 – 2026:</b></label>
                            <div class="col mb-3">
                                <div class="d-flex align-items-center">
                                    <label for="inputName"><b>Toán:</b></label>
                                    <input type="number" class="mx-2" step="0.1" min="0" max="10" name="mathScore" placeholder="Toán">
                                </div>
                            </div>

                            <div class="col mb-3">
                                <div class="d-flex align-items-center">
                                    <label for="inputName"><b>Văn:</b></label>
                                    <input type="number" class="mx-2" step="0.1" min="0" max="10" name="literatureScore" placeholder="Văn">
                                </div>
                            </div>

                            <div class="col mb-3">
                                <div class="d-flex align-items-center">
                                    <label for="inputName"><b>Anh:</b></label>
                                    <input type="number" class="mx-2" step="0.1" min="0" max="10" name="englishScore" placeholder="Anh">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <label for="inputName"><b>Kết quả học tập và rèn luyện cấp THCS:</b></label>
                    <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered mb-3">
                    <tr>
                        <th rowspan="1">Lớp</th>
                        <th class="px-4">6</th>
                        <th class="px-4">7</th>
                        <th class="px-4">8</th>
                        <th class="px-4">9</th>
                        <th rowspan="2" class="px-3">Xếp loại tốt nghiệp THCS</th>
                        
                    </tr>
                    
                    <tr>
                        <td>Hạnh kiểm</td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="conduct6" aria-label="Default select example">
                                <option selected value="">Hạnh kiểm</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Yếu</option>
                                <option value="Chưa Đạt">Chưa Đạt</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="conduct7" aria-label="Default select example">
                                <option selected value="">Hạnh kiểm</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Yếu</option>
                                <option value="Chưa Đạt">Chưa Đạt</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="conduct8" aria-label="Default select example">
                                <option selected value="">Hạnh kiểm</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Yếu</option>
                                <option value="Chưa Đạt">Chưa Đạt</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="conduct9" aria-label="Default select example">
                                <option selected value="">Hạnh kiểm</option>
                                <option value="Tốt">Tốt</option>
                                <option value="Khá">Khá</option>
                                <option value="Yếu">Yếu</option>
                                <option value="Chưa Đạt">Chưa Đạt</option>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Học lực</td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="academicRating6" aria-label="Default select example">
                                <option selected value="">Học lực</option>
                                <option value="Giỏi">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Trung Bình">Trung bình</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="academicRating7" aria-label="Default select example">
                                <option selected value="">Học lực</option>
                                <option value="Giỏi">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Trung Bình">Trung bình</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="academicRating8" aria-label="Default select example">
                                <option selected value="">Học lực</option>
                                <option value="Giỏi">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Trung Bình">Trung bình</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="academicRating9" aria-label="Default select example">
                                <option selected value="">Học lực</option>
                                <option value="Giỏi">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Trung Bình">Trung bình</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select" id="inputGroupSelect01" name="graduationRating" aria-label="Default select example">
                                <option selected value="">Xếp loại</option>
                                <option value="Giỏi">Giỏi</option>
                                <option value="Khá">Khá</option>
                                <option value="Trung Bình">Trung Bình</option>
                            </select>
                        </td>
                    </tr>
                    </table>

                    <label for="inputName"><b>Điểm số trung bình các môn học rèn luyện cấp THCS:</b></label>
                    <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered mb-3">
                        <tr>
                            <th colspan="8" class="px-3">Điểm trung bình môn cả năm lớp 9</th>
                        </tr>
                        <tbody>
                            <td class="px-3"><b>Văn</b></td>
                            <td class="px-3"><b>Toán</b></td>
                            <td class="px-3"><b>Ngoại ngữ</b></td>
                            <td class="px-3"><b>Vật lý</b></td>
                            <td class="px-3"><b>Hóa học</b></td>
                            <td class="px-3"><b>Sinh</b></td>
                            <td class="px-3"><b>Sử</b></td>
                            <td class="px-3"><b>Địa</b></td>
                        </tbody>
                        <tbody>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgLiteratureScore" placeholder="Văn">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgMathScore" placeholder="Toán">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgEnglishScore" placeholder="Ngoại Ngữ">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgPhysicsScore" placeholder="Vật Lý">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgChemistryScore" placeholder="Hoá Học">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgBiologyScore" placeholder="Sinh">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgHistoryScore" placeholder="Sử">
                            </td>
                            <td>
                                <input type="number" step="0.1" min="0" max="10" name="avgGeographyScore" placeholder="Địa">
                            </td>
                        </tbody>
                    </table>
                </div>  

                <div class="box-submit-3" style="display: none;">
                    <p class="fs-5">Sau khi nghiên cứu các tổ hợp của nhà trường:</p>
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">Tổ hợp</th>
                        <th scope="col" colspan="4">Môn lựa chọn (04 môn)</th>
                        <th scope="col" colspan="3">Cụm chuyên đề (03 môn)</th>
                        <th scope="col">Số lớp</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each combinations}}
                            <tr>
                                <td scope="row">{{this.name}}</td>
                                {{#each optionalSubjects}}
                                    <td>{{this.name}}</td>
                                {{/each}}
                                {{#each compulsorySubjects}}
                                    <td>{{this.name}}</td>
                                {{/each}}
                                <td>{{this.classesCount}}</td>
                                <td>
                                    <div id-modal="{{this.id}}" class="btn-show-modal"><p class="m-0 text-decoration-underline">Xem Chi Tiết</p></div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                    </table>
                    <p class="fs-5 d-flex justify-content-center">Đăng ký tổ hợp theo nguyện vọng:</p>
                    <div class="d-flex justify-content-center align-items-center box-choose-combination">
                        <div class="box-select-1 d-flex align-items-center">
                            <p class="me-2 fw-bold">Nguyện vọng 1:</p>
                            <div class="input-group mb-3 me-4">
                                <select class="form-select" id="select-combination1" name="combination1" aria-label="Default select example">
                                    <option selected value="">--Chọn tổ hợp--</option>
                                    {{#each combinations}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="box-select-2 d-flex align-items-center">
                            <p class="me-2 fw-bold">Nguyện vọng 2:</p>
                            <div class="input-group mb-3 me-4">
                                <select class="form-select" id="select-combination2" name="combination2" aria-label="Default select example" disabled>
                                    <option selected value="">--Chọn tổ hợp--</option>
                                    {{#each combinations}}
                                        <option value="{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-submit-4 container" style="display:none;">
                    <form id="form-submit-combination" action="/combination/submited" method="POST">
                        <legend class="text-center mb-4">Hồ sơ học sinh đăng ký vào lớp 10</legend>
                        <div class="row">
                            <div class="col col-md-4 mb-3 mx-3 d-flex align-items-start flex-column ps-0">
                                <label for=""><b>Ảnh thẻ:</b></label>
                                <div class="row mb-3">
                                    <div class="d-flex align-items-start flex-column">
                                        <img class="col col-md-2 ps-0 resultImage" style="max-width:200px;">
                                    </div>
                                    <input class="input-get-data" type="text" name="avatarLink" style="display: none;">
                                </div>
                            </div>

                            <div class="col row gy-3 m-0">
                                <div class="input-group col col-md-5 d-flex align-items-start flex-column">
                                    <label for="inputName" class="me-2">Họ và Tên học sinh:</label>
                                    <h4 class="mb-3"><b class="get-data" style="text-transform: capitalize;"></b></h4>
                                    <input type="text" class="input-get-data" name="fullName" style="display:none;">
                                    <label for="inputName">Ngày tháng năm sinh: </label>
                                    <b class="mb-3 get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="dayOfBirth" style="display:none;">
                                    <label for="inputName">Trường học cấp 2:</label> 
                                    <b class="mb-3">Trường THCS Lý Thường Kiệt</b>
                                </div>

                                <div class="col d-flex align-items-start flex-column p-0">
                                    <label for="inputName" >Giới tính: </label>
                                    <b class="mb-3 get-data-select"></b>
                                    <input type="text" class="input-get-data-select" name="gender" style="display:none;">
                                    <label for="inputName">Nơi sinh: </label>
                                    <b class="mb-3 get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="placeOfBirth" style="display:none;">
                                    <label for="inputName">Nơi ở hiện tại:</label> 
                                    <b class="mb-3 get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="currentPlace" style="display:none;">
                                </div>

                                <div class="col d-flex align-items-start flex-column">
                                    <label for="inputGroupSelect01">Dân tộc: </label>
                                    <b class="mb-3 get-data-select"></b>
                                    <input type="text" class="input-get-data-select" name="nation" style="display:none;">

                                    <div class="d-flex align-items-start flex-column">
                                        <label for="inputName">Nguyện vọng 1:</label>
                                        <h5><b class="get-data-combination"></b></h5>                       
                                    </div>

                                    <div class="d-flex align-items-start flex-column">
                                        <label for="inputName">Nguyện vọng 2:</label>
                                        <h5><b class="get-data-combination"></b></h5>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-start flex-column px-4 my-3">
                            <div class="d-flex justify-content-between text-center contact-of-parent">
                                <div class="d-flex justify-content-center">
                                    <label for="" class="me-4">Họ và tên cha:</label>
                                    <b class="get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="fullNameDad" style="display:none;">
                                </div>

                                <div class="d-flex">
                                    <label for="" class="me-4">Nghề nghiệp:</label>
                                    <b class="get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="jobOfDad" style="display:none;">
                                </div>

                                <div class="d-flex">
                                    <label for="" class="me-4">Số điện thoại:</label>
                                    <b class="get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="phoneOfDad" style="display:none;">
                                </div>
                            </div>

                            <div class="d-flex justify-content-between text-center contact-of-parent">
                                <div class="d-flex">
                                    <label for="" class="me-4">Họ và tên mẹ:</label>
                                    <b class="get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="fullNameMom" style="display:none;">
                                </div>

                                <div class="d-flex">
                                    <label for="" class="me-4">Nghề nghiệp:</label>
                                    <b class="get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="jobOfMom" style="display:none;">
                                </div>

                                <div class="d-flex">
                                    <label for="inputGroupSelect01" class="me-4">Số điện thoại:</label>
                                    <b class="get-data" style="text-transform: capitalize;"></b>
                                    <input type="text" class="input-get-data" name="phoneOfMon" style="display:none;">
                                </div>
                            </div>
                        </div>

                        <div class="row gap-0 column-gap-4">
                                <label for="inputName"><b>Điểm thi xết tuyển Trung học phổ thông năm học 2025 – 2026:</b></label>
                                <div class="col mb-3">
                                    <label for="inputName"><b>Toán: <b class="get-data"></b> điểm</b></label>
                                    <input type="text" class="input-get-data" name="mathScore" style="display:none;">
                                </div>

                                <div class="col mb-3">
                                    <label for="inputName"><b>Văn: <b class="get-data"></b> điểm</b></label>
                                    <input type="text" class="input-get-data" name="literatureScore" style="display:none;">
                                </div>

                                <div class="col mb-3">
                                    <label for="inputName"><b>Anh: <b class="get-data"></b> điểm</b></label>
                                    <input type="text" class="input-get-data" name="englishScore" style="display:none;">
                                </div>
                            </div>

                        <label for="inputName"><b>Kết quả học tập và rèn luyện cấp THCS:</b></label>
                        <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered mb-3">
                        <tr>
                            <th rowspan="1">Lớp</th>
                            <th class="px-4">6</th>
                            <th class="px-4">7</th>
                            <th class="px-4">8</th>
                            <th class="px-4">9</th>
                            <th rowspan="2" class="px-3">Xếp loại tốt nghiệp THCS</th>
                        </tr>
                        
                        <tr>
                            <td>Hạnh kiểm</td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="conduct6" style="display:none;">
                            </td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="conduct7" style="display:none;">
                            </td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="conduct8" style="display:none;">
                            </td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="conduct9" style="display:none;">
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Học lực</td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="academicRating6" style="display:none;">
                            </td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="academicRating7" style="display:none;">
                            </td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="academicRating8" style="display:none;">
                            </td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="academicRating9" style="display:none;">
                            </td>
                            <td>
                                <b class="get-data-select"></b>
                                <input type="text" class="input-get-data-select" name="graduationRating" style="display:none;">
                            </td>
                        </tr>
                        </table>

                        <label for="inputName"><b>Điểm số trung bình các môn học rèn luyện cấp THCS:</b></label>
                        <table border="1" cellspacing="0" cellpadding="3" class="table-points text-center table-bordered mb-3">
                            <tr>
                                <th colspan="8" class="px-3">Điểm trung bình môn cả năm lớp 9</th>
                            </tr>
                            <tbody>
                                <td class="px-3"><b>Văn</b></td>
                                <td class="px-3"><b>Toán</b></td>
                                <td class="px-3"><b>Ngoại ngữ</b></td>
                                <td class="px-3"><b>Vật lý</b></td>
                                <td class="px-3"><b>Hóa học</b></td>
                                <td class="px-3"><b>Sinh</b></td>
                                <td class="px-3"><b>Sử</b></td>
                                <td class="px-3"><b>Địa</b></td>
                            </tbody>
                            <tbody>
                                <td>
                                    <b class="get-data"></b>
                                    <input type="text" class="input-get-data" name="avgLiteratureScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data"></b>
                                    <input type="text" class="input-get-data" name="avgMathScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data"></b>
                                    <input type="text" class="input-get-data" name="avgEnglishScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data"></b>
                                    <input type="text" class="input-get-data" name="avgPhysicsScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data"></b>
                                    <input type="text" class="input-get-data" name="avgChemistryScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data"></b>
                                    <input type="text" class="input-get-data" name="avgBiologyScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data"></b>
                                    <input type="text" class="input-get-data" name="avgHistoryScore" style="display:none;">
                                </td>
                                <td>
                                    <b class="get-data"></b>
                                    <input type="text" class="input-get-data" name="avgGeographyScore" style="display:none;">
                                </td>
                            </tbody>
                        </table>
                    </form>
                </div>
      
            </div>
        </div>
    </div>
</div>

<div id="cropperContainer" style="display:none; position:fixed; inset:0; background:#000a; z-index:9998; justify-content:center; align-items:center;">
    <img id="preview" style="max-height:90vh;" />
    <button id="cropBtn" type="button" style="position:absolute; bottom:20px;">Cắt ảnh</button>
</div>

<div class="glass-overlay"></div>
{{#each combinations}}
<div id="{{this.id}}" class="modal" style="display: none;">
    <div class="modal-container container mx-auto">
        <div class="shadow-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin tổ hợp chi tiết ℹ</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-4">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="mb-4">{{this.description}} ✅</p>

                    <h5>Môn Chuyên Đề:</h5>
                    <div class="accordion mb-4" id="accordionExample">
                        {{#each compulsorySubjects}}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="flase" aria-controls="collapseOne">
                                        {{this.name}}
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{this.description}} ✅
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>

                    <h5>Môn Lựa Chọn:</h5>
                    <div class="accordion" id="accordionExample">
                        {{#each optionalSubjects}}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="flase" aria-controls="collapseOne">
                                            {{this.name}}
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            {{this.description}}
                                        </div>
                                    </div>
                                </div>
                        {{/each}}
                    </div>
                </div>
            </div>    
        </div>    
    </div>    
</div>
{{/each}}

<script>
    $.fn.datepicker.dates['vi'] = {
        days: ["Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"],
        daysShort: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
        daysMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
        months: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
        monthsShort: ["Th1", "Th2", "Th3", "Th4", "Th5", "Th6", "Th7", "Th8", "Th9", "Th10", "Th11", "Th12"],
        today: "Hôm nay",
        clear: "Xóa",
        format: "dd/mm/yyyy",
        titleFormat: "MM yyyy", 
        weekStart: 1
    };

    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',  
        language: 'vi',         
        autoclose: true       
    });

    $("#datepicker").change((e) => {
        if(e.target.value === "") {
            e.target.style.border = "1px solid red";
        } else {
            e.target.style.border = "1px solid #dee2e6";
            $(".form-group-datepicker .form-message").get(0).innerHTML = "";
        }
    });

    const btnSubjects = document.querySelectorAll(".accordion-button");
    for(var btnSubject of btnSubjects) {
        btnSubject.onclick = (e) => {
            for(var btn of btnSubjects) {
                const content = btn.parentElement.parentElement.querySelector("#collapseOne");
                btn.classList.add("collapsed");
                content.classList.remove("show");
            }
            const content = e.target.parentElement.parentElement.querySelector("#collapseOne");
            if(e.target.getAttribute("aria-expanded") === "false") {
                e.target.setAttribute("aria-expanded", "true");
                e.target.classList.remove("collapsed");
                content.classList.add("show");
            } else {
                e.target.setAttribute("aria-expanded", "false");
                e.target.classList.add("collapsed");
                content.classList.remove("show");
            }
        }
    }
</script>

<script>
    // check box
    const checkReaded = document.querySelector('#checkReaded');
    let checked = false;
    
    checkReaded.onchange = () => {
        checked = !checked;
        const btnNextStep = document.querySelector('#btnNextStep');
        btnNextStep.disabled = !checked;
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" defer></script>
<script src="/uploadImageToCloudinary.js" defer></script>

<script>
    const combinationDetailModal = document.querySelector('#combinationDetailModal');

    function setActiveForSteps(page) {
        const barStepContainer = document.querySelector(".progress_bar-steps");
        const barSteps = document.querySelectorAll(".progress_bar-step");
        const steps_progress = document.querySelector(".progress_bar-progress");
        const barStep_length = barSteps.length - 1;
        const arrBarStep = Array.from(barSteps);
        arrBarStep[page-1].classList.add('active');
        let pageXStep1;

        const liActiveElements = document.querySelectorAll('li.active');

        if(liActiveElements.length > page) {
            for(var i = page; i < liActiveElements.length; i++) {
                liActiveElements[i].classList.remove('active');
            }
            const liActiveElementsResult = document.querySelectorAll('li.active');
            steps_progress.style.width = `${liActiveElementsResult[page - 1].offsetLeft + liActiveElementsResult[page - 1].offsetWidth}px`;
        } else {
            steps_progress.style.width = `${liActiveElements[liActiveElements.length - 1].offsetLeft + liActiveElements[liActiveElements.length - 1].offsetWidth}px`
        }
    }
    function checkPageReturnScript(page) {
        switch(page) {
            case 1:
                setActiveForSteps(page);
                break;
            case 2:
                setActiveForSteps(page)
                const inputPage2HaveAttNames = document.querySelectorAll('div.box-submit-2 input[name]');
                const selectPage2HaveAttNames = document.querySelectorAll('div.box-submit-2 select[name]');
                const inputPage4HaveAttNames = document.querySelectorAll('div.box-submit-4 b.get-data');
                const selectPage4HaveAttNames = document.querySelectorAll('div.box-submit-4 b.get-data-select');
                const inputAddDatasPage4 = document.querySelectorAll('div.box-submit-4 input.input-get-data');
                const selectAddDatasPage4 = document.querySelectorAll('div.box-submit-4 input.input-get-data-select');
                const inputHiddenImgPage4 = document.querySelector('div.box-submit-4 input.input-get-data');

                const allTagPage2HaveAttName = [...inputPage2HaveAttNames, ...selectPage2HaveAttNames];
                const allTagPage4HaveAttName = [...inputPage4HaveAttNames, ...selectPage4HaveAttNames];
                const allTagAddDatasPage4 = [...inputAddDatasPage4, ...selectAddDatasPage4];

                allTagPage2HaveAttName.shift();
                
                allTagPage2HaveAttName.forEach((tag, index) => {
                    tag.onchange = () => {
                        allTagPage4HaveAttName[index].textContent = allTagAddDatasPage4[index].value = tag.value;
                    }
                })

                 
            case 4:
                setActiveForSteps(page)
                const inputImage = document.getElementById('inputImage');
                const preview = document.getElementById('preview');
                const cropBtn = document.getElementById('cropBtn');
                const resultImage = document.getElementById('resultImage');
                const cropperContainer = document.getElementById('cropperContainer');
                const imgBoderFake = document.querySelector(".imgBoderFake");
                const inputHiddenImg = document.getElementById('input-get-data');
                
                let cropper;

                const recropBtn = document.getElementById('recropBtn');
                let lastImageURL = ''; // để lưu lại ảnh gốc đã chọn

                inputImage.addEventListener('change', () => {
                    const file = inputImage.files[0];
                    if (file) {
                        lastImageURL = URL.createObjectURL(file);
                        showCropper(lastImageURL);
                    }
                });

                cropBtn.addEventListener('click',  () => {
                    const canvas = cropper.getCroppedCanvas({ width: 300, height: 400 });
                    const dataUrl = canvas.toDataURL('image/jpeg');
                    inputHiddenImg.value = dataUrl;

                    resultImage.src = dataUrl;
                    imgBoderFake.style.display = 'none';
                    resultImage.style.display = 'block';
                    recropBtn.style.display = 'inline-block';

                    cropper.destroy();
                    cropper = null;
                    cropperContainer.style.display = 'none';
                });

                recropBtn.addEventListener('click', () => {
                    if(lastImageURL != '') {
                        showCropper(lastImageURL);
                    }
                });

                function showCropper(imageUrl) {
                    preview.src = imageUrl;
                    cropperContainer.style.display = 'flex';

                    preview.onload = function () {
                        if (cropper) cropper.destroy();
                        cropper = new Cropper(preview, {
                            aspectRatio: 3 / 4,
                            viewMode: 1,
                            dragMode: 'move',
                            cropBoxResizable: false,
                            cropBoxMovable: false,
                            movable: true,
                            zoomable: true,
                            ready() {
                                cropper.setCropBoxData({ width: 300, height: 400 });
                            }
                        });
                    };
                }
                if(page == 4) {
                    const inputAvatarStep4 = document.querySelector('div.box-submit-4 input[name="avatarLink"]');
                    if(inputHiddenImg && inputAvatarStep4) {
                        inputAvatarStep4.value = inputHiddenImg.value;
                    }
                    // Nếu muốn hiển thị ảnh luôn:
                    const imgStep4 = document.querySelector('div.box-submit-4 img.resultImage');
                    if(imgStep4 && inputHiddenImg.value) {
                        imgStep4.src = inputHiddenImg.value;
                    }
                    const formSubmit = document.querySelector('#form-submit-combination')
                    const btnSubmitForm = document.querySelector('#btnSubmit');
                    btnSubmitForm.onclick = async () => {
                        await uploadImageToCloudinary(inputAvatarStep4.value, "avatars").then((imageUrl) => {
                            inputAvatarStep4.value = imageUrl;
                        })
                        formSubmit.submit();
                    }
                }
                
                break;
            case 3:
                setActiveForSteps(page);
                const selectCombination1 = document.querySelector('#select-combination1');
                const selectCombination2 = document.querySelector('#select-combination2'); 

                selectCombination1.onchange = () => {
                const valueSelect1 = selectCombination1.value;

                const optionsSelect1 = Array.from(selectCombination1.querySelectorAll('option'));
                optionsSelect1.shift();
                selectCombination2.innerHTML = '<option selected value="">--Chọn tổ hợp--</option>';

                optionsSelect1.forEach((option) => {
                    if(option.text !== valueSelect1) {
                        const tmp = document.createElement('option');
                        tmp.value = option.value;
                        tmp.text = option.value;

                        selectCombination2.appendChild(tmp);
                    }
                })
                if (valueSelect1) {
                    selectCombination2.disabled = false;
                } else selectCombination2.disabled = true;
                }   

                const glassOverlay = document.querySelector('.glass-overlay');

                const btnShows = document.querySelectorAll('.btn-show-modal');

                btnShows.forEach((btnShow) => {
                    btnShow.onclick = () => {
                        const modalId = btnShow.getAttribute('id-modal');
                        const modalCombinationDetail = document.getElementById(modalId);
                        modalCombinationDetail.style.display = 'block';
                        const modalChild = modalCombinationDetail.querySelector('.modal-container');
                        const btnClose = modalCombinationDetail.querySelector('.btn-close');
                        const body = document.getElementsByTagName('body')[0];

                        body.style.overflowY = 'hidden';
                        glassOverlay.classList.add('active');
                        btnClose.onclick = () => {
                            body.style.overflowY = 'auto';
                            modalCombinationDetail.style.display = 'none';
                            glassOverlay.classList.remove('active');
                        }

                        modalCombinationDetail.onclick = () => {
                            body.style.overflowY = 'auto';
                            modalCombinationDetail.style.display = 'none';
                            glassOverlay.classList.remove('active');
                        }

                        modalChild.onclick = (e) => {
                            e.stopPropagation();
                        }
                    }
                })
                
                const btnSubjects = document.querySelectorAll(".accordion-button");
                for(var btnSubject of btnSubjects) {
                    btnSubject.onclick = (e) => {
                        for(var btn of btnSubjects) {
                            const content = btn.parentElement.parentElement.querySelector("#collapseOne");
                            btn.classList.add("collapsed");
                            content.classList.remove("show");
                        }
                        const content = e.target.parentElement.parentElement.querySelector("#collapseOne");
                        if(e.target.getAttribute("aria-expanded") === "false") {
                            e.target.setAttribute("aria-expanded", "true");
                            e.target.classList.remove("collapsed");
                            content.classList.add("show");
                        } else {
                            e.target.setAttribute("aria-expanded", "false");
                            e.target.classList.add("collapsed");
                            content.classList.remove("show");
                        }
                    }
                }

                break;
        }
    }
    const btnNext = document.querySelector('#btnNextStep');
    const btnPrev = document.querySelector('#btnPrevStep');
    const btnSubmitCombination = document.querySelector('#btnSubmit');
    let page = 1;
    btnNext.onclick = () => {
        btnPrev.style.display = 'block';
        const currentBox = document.querySelector(`.box-submit-${page}`);
        currentBox.style.display = 'none';
        if(page+1 <= 4) page++;
        const nextBox = document.querySelector(`.box-submit-${page}`);
        nextBox.style.display = 'block';
        if(page == 4) {
            btnNext.style.display = 'none';
            btnSubmitCombination.style.display = 'block';
        }
        checkPageReturnScript(page);
    }

    btnPrev.onclick = () => {
        btnNext.style.display = 'block';
        btnSubmitCombination.style.display = 'none';
        const currentBox = document.querySelector(`.box-submit-${page}`);
        currentBox.style.display = 'none';
        if(page-1 >= 1) {
            page--;
        }
        const nextBox = document.querySelector(`.box-submit-${page}`);
        nextBox.style.display = 'block';
        if(page == 1) {
            btnPrev.style.display = 'none';
        }
        checkPageReturnScript(page);
    }
</script>